<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="login()" [formGroup]="userForm">
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="username" required>
                    <mat-error *ngIf="this.userForm.value.username.invalid">{{errorMessage}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password" required>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" class="btn-block" [disabled]="!userForm.valid">Log in</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>